body{
  background-image: url(bilder/forsidebilde02.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

/*Fixes image to mobile*/
@media only screen and (max-width: 487px) {
  body {
  background-image: url(bilder/forsidebilde02.jpg);
  background-position-x: -46em;
 }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    margin:auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: rgba(255, 255, 255, 0.9);
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Center tag which puts menu in center*/
#center {
  margin-left:  2em;
  margin-right:  2em;
  letter-spacing: 2px;
}


/*Title - only for the front page*/
#title{
  font-size: 70px;
  font-family: 'Lovers Quarrel';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  color: black;
}

#heading1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Great Vibes';
  letter-spacing: 2px;
  padding: 5px;
  color: black;
}

/*Containerbox for information*/
.container-fluid {
  /*background-color: rgba(255, 255, 255, 1);*/
  background-image: url(bilder/soft_wallpaper/soft_wallpaper.png);
  opacity: 25%;
  width: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  float: left;
  padding: 1em;
  background-repeat:  repeat;
}

/*Label for RSVP*/
.label {
  font-size: 20px;
  text-align:left;
  padding: 5px;
  color: black;
  margin-top: 1em;
  box-sizing: border-box;
  white-space: pre-wrap;
  padding-top: 10px;
}

/*Input for RSVP*/
.input {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 100%;
  font-size: 20px;
  width: 98.4%;
}

.rsvp_containers {

}

/*Button for RSVP*/
button{
  width: 100%;
  font-size: 20px;
  background-color: white;
  height: 30px;
}

 .button:hover {
  background-color: azure;
}

/*If error in inputboxes*/
.err {
  border-color: red;
  border-style: dashed;
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 100%;
  font-size: 20px;
  width: 98.4%;
}

/*Title 2 for other pages than front page*/
.title2{
  font-size: 60px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

#buttonTest {

}
