body{
  background-image: url(bilder/backgrounds/flowerbridge.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 10%;
  margin-right: 10%;
  background-position-y: 65%;
  letter-spacing: 2px;
  }

/*Fixes image to mobile*/
@media only screen and (max-width: 487px) {
  body {
  background-position-x: -26em;
  margin-left: 5%;
  margin-right: 10%;
 }
}

@media only screen and (max-width: 1028px) {
  body {
  background-position: center;
 }
}


/* Add a black background color to the top navigation */
.topnav {
/*  background-color: rgba(85,107,47,0.8);*/
  background-color: rgba(21,50,0,0.9);
  overflow: hidden;
  margin:auto;
  width: 86%;
  margin-left: 10%;
  border-radius: 25px;
  color: white;
  margin-top: 2em;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: "Dancing Script";
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(107,142,35, 0.9);
  /*background-color: #ddd;*/
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgba(59,74,32, 0.9);
  font-style: italic;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 870 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1260px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/*This have to be 1280 for some reason*/
@media screen and (max-width: 1500px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    right: 0;
    top: 0;
  }

@media screen and (max-width: 1260px) {
  .topnav {
    margin-left: auto;
  }

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
  }
}

/*Title - only for the front page*/
#title{
  font-size: 70px;
  font-family: 'Lovers Quarrel';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  color: white;
}

#heading1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Great Vibes';
  letter-spacing: 2px;
  padding: 5px;
  color: white;
}

/*Containerbox for information*/
/*Dark olive green*/
.container-fluid {
/*  background-color: rgba(85,107,47, 0.8);*/
  background-color: rgba(21,50,0, 0.8);
  margin-top: 3em;
  margin-bottom: 1em;
  background-size: auto;
  border-radius: 25px;
  width: 55%;
  margin-left: 25%;
}

@media screen and (max-width: 975px) {
 .container-fluid {
   width: 100%;
   float:left;
   margin-left: 0;
 }
}

/*Containerbox for information for front page*/
.container-fluid_fp {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 2em;
  margin-bottom: 2em;
  float: left;
  padding: 1em;
  background-size: auto;
  border-radius: 25px;
}

/*Label for RSVP*/
.label {
  font-size: 20px;
  text-align:left;
  color: black;
  box-sizing: border-box;
  white-space: pre-wrap;
  font-size: 20px;
  font-family: Times New Roman;
  color: white;
}

/*Input for RSVP*/
.input, .inputOther {
    font-size: 20px;
    font-family: Times New Roman;
    resize: vertical;
    border: 1px solid grey;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    box-sizing: border-box;
}

 .input {
  height: 100%;
  width: 70%;
  float: right;
}

.rsvpRow {
  padding: 5px;
}

/*When screen goes to mobile, textboxes are changed*/
@media screen and (max-width: 600px) {
  input[type="text"]{
    font-size: 15px;
    height: 20px;
  }
}

@media screen and (max-width: 600px) {
  input[type="textarea"]{
    font-size: 15px;
  }
}


@media screen and (max-width: 600px) {
  .input{
    width: 50%;
  }
}

.inputOther {
  height: 7em;
  width: 100%;
  margin-top: 2%;
  resize: none;
}

/*Button for RSVP*/
button {
  width: 100%;
  background-color: white;
  height: 30px;
  font-size: 20px;
  font-family: Times New Roman;
  resize: vertical;
  border: 1px solid grey;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  box-sizing: border-box;
}

 .button:hover {
  background-color: azure;
}

/*If error in inputboxes*/
.err {
  border-color: red;
  border-style: dashed;
  font-size: 20px;
  font-family: Times New Roman;
  width: 70%;
  float: right;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  box-sizing: border-box;
}

/*Title 2 for other pages than front page*/
.title2{
  font-size: 60px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

/*Containerbox for information*/
.containerInfo {
  background-color: rgba(21,50,0,0.8); /*Dark olive green*/
  background-size: auto;
  margin-bottom: 2em;
  padding: 1em;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 25px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

 @media screen and (max-width: 975px) {
  .containerInfo {
    width: 100%;
    float:left;
    margin-left: 0;
    margin-right: 5%;
    }
}


.weddingdayRow {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .weddingdayRow{
    width: 100%;
  }
}

.weddingdayTitle {
  font-size: 60px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

.weddingdayTitle2 {
  font-size: 50px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

.weddingdaySubTitle {
  font-size: 30px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  padding-top: 5%;
}


/*Resizes the titles*/
@media screen and (max-width: 600px) {
  .weddingdayTitle{
    font-size: 9.5vw;
  }
}

@media screen and (max-width: 600px) {
  .weddingdayTitle2{
    font-size: 8.5vw;
  }
}

@media screen and (max-width: 600px) {
  .weddingdaySubTitle{
    font-size: 7.5vw;
  }
}

/*Map on Weddingday page*/
#map {
  height: 300px;
  width: 100%;
  border: 1px solid grey;
  float: left;
  margin-bottom: 10px;
  position: inherit;
  border-radius: 4px;
}

.image{
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

}

@media screen and (max-width: 600px) {
  #map, .image{
    float: none;
    position: center;
  }
}

.weddingdayText {
  text-align: center;
  text-decoration: none;
  text-indent: inherit;
  font-family: 'Poppins';
  color: white;
}

#weddingdayTime {
  padding-left: 20%;
  float: left;
}

#weddingdayInfo {
  margin-left: 30%;
  text-align: left;
}

/*Images HTML*/
.mySlides {
  display:none;
  width: 100%;
  height: 100%;
  display: none;
  padding-right: 2em;
  padding-left: 2em;
}

.containerInfoImages {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  /* padding-left: 4%;
  padding-right: 4%; */
  background-size: auto;
  border-radius: 25px;
  margin-right: 50%;
}

.containerImages {
  padding: 2em;
  margin-top: 35%;
  background-color: rgba(255,255,255,0.8);

}

.w3-button, .w3-black, .w3-display-left {
  width: 5%;
  resize: none;
}

/*Map over hotels with resizing*/
iframe {
  border: 1px solid grey;
  margin-bottom: 10px;
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 1200px) {
  iframe{
    width: 100%;
    height: 400px;
  }
}

.hotelLink {
  text-align: center;
  text-indent: inherit;
  font-family: 'Poppins';
  color: white;
  text-decoration: underline;
  padding-left: 40%;
}

.hotelLink:hover {
  font-style: italic;
}

/*TEST START*/
.carousel {
  position:relative;
  width:400px;
  border:10px solid white;
  margin:20px auto;
  box-shadow:0px 0px 40px #000;
}
.carousel > img {
  display:none;
  width:100%;
}
.carousel > input {
  position:absolute;
  left:-9999px;
}
.carousel > input:checked + label + img {
  display:block;
}

.carousel > label,
.carousel > input:checked ~ label ~ label ~ label ~ label {
  display:none;
}
.carousel > input:checked + label {
  display:block;
  left:0;
}
.carousel > input:checked ~ label ~ label ~ label {
  display:block;
  right:0;
}

.carousel > label {
  position:absolute;
  top:0;
  width:25%;
  height:100%;
  visibility:hidden;
}
.carousel > label:before {
  content:'';
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  visibility:visible;
}
.carousel > label:after {
  display:block;
  position:absolute;
  top:50%;
  width:25px;
  height:25px;
  line-height:22px;
  margin:-15px 10px 0 10px;
  background-color:black;
  color:white;
  font-family:'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:center;
  visibility:hidden;
  border:2px solid white;
  border-radius:20px;
  box-shadow:0 3px 4px black;
}
.carousel > label:hover:after {
  visibility:visible;
}

.carousel > input:checked + label:after {
  left:0;
  content:'\00AB';
}
.carousel > input:checked ~ label ~ label ~ label:after {
  right:0;
  content:'\00BB';
}
/*TEST END*/
