/* body{
  background-image: url(bilder/backgrounds/weddingcouple_bridge.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  } */

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(bilder/backgrounds/weddingcouple_bridge.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
body:before {
    background-position-x: -40px;
}
}

/*To center eeeeverything*/
#wrapping{
  margin-left: 15%;
  margin-right: 15%;
  width: auto;
}

/*Fixes image to mobile*/
@media only screen and (max-width: 487px) {
  #wrapping {
  margin-left: 5%;
  margin-right: 5%;
 }
}

/*Fixes image to bigger screens*/
@media only screen and (min-width: 1300px) {
  #wrapping {
  margin-left: 15%;
  margin-right: 15%;
 }
}

/* Add a background color to the top navigation */
.topnav {
  /*background-color: rgba(21,50,0,0.9);*/
  background-color: rgba(255,255,255,0.8);
  overflow: hidden;
  margin: auto;
  color: black;
  margin-top: 1em;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 22px;
  font-family: "Dancing Script";
  transition: font-size .2s linear;
}

/* Change the color of links on hover */
.topnav a:hover {
  /*background-color: rgba(107,142,35, 0.9);*/
  background-color: rgb(255,255,255);
  color: black;
  cursor: pointer;
  font-size: 23px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgb(255,255,255);
  font-style: italic;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 870 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1260px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/*This has to be 5000px for some reason*/
@media screen and (max-width: 5000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    right: 0;
    top: 0;
  }

@media screen and (max-width: 1260px) {
  .topnav {
    margin-left: auto;
  }

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
  }
}

/*Container for boxes after menu*/
#containerAll{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1260px) {
 #containerAll {
   flex-direction: column;
   width: 99.5%;
 }
}

@media screen and (min-width: 1280px) {
 #containerAll {
   flex-direction: row;
   width: 100%;
 }
}

/*Title for ContainerMain*/
#mainTitle{
  font-size: 60px;
  font-family: 'Lovers Quarrel';
  text-align: center;
  color: black;
  letter-spacing: 4px;
}

.sub-mainTitle {
  font-size: 40px;
  text-align: center;
  font-family: 'Great Vibes';
  padding: 5px;
  color: black;
}

/*Containerbox for main*/
 #containerMain {
  background-color: rgba(255,255,255, 0.7);
  background-size: auto;
  flex: 1 1 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: : 1em;
  margin-top: 1em;
  height: 100%;
  width: 250%;
}

/*Had to put this in to make the page responsible for screens over 1280px*/
@media screen and (max-width: 5000px) and (min-width: 0px) {
  #containerMain {
    background-color: rgba(255,255,255, 0.7);
    background-size: auto;
    flex: 1 1 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: : 1em;
    margin-top: 1em;
    height: 100%;
    width: 250%;
  }

  /*Container for front page main*/
  #containerMain-fp{
   background-color: rgba(255,255,255, 0.7);
   background-size: auto;
   flex: 1 1 auto;
   padding: 1em;
   margin-left: : 1em;
   margin-top: 1em;
   height: 100%;
   width: 50%;
   float:right;
  }

  /*When screen is smaller than */
  @media screen and (max-width: 1260px) {
   #containerMain-fp {
     width: 96%;
     float: none;
   }
  }

/*Wedding ring image*/
#ringImage {
  width: 100px;
  position: absolute;
}

@media screen and (max-width: 1833px) {
  #ringImage {
    position: initial;
}}

@media screen and (max-width: 550px) {
  #ringImage {
    position: absolute;
}}

#ringImage_images {
  width: 100px;
  position: absolute;
}

@media screen and (max-width: 800px) {
  #ringImage_images {
    position: initial;
}}

/*Containers for the images-page*/
#containerAll_images{
  float: right;
  width: 100%;
}

#containerMain_images {
  background-color: rgba(255,255,255, 0.7);
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  margin-left: 25%;
}

@media screen and (max-width: 1260px) {
 #containerMain_images {
   width:100%;
   margin-left: 0;
 }
}

#containerInfo_images {
  display: flex;
}

/*Containerbox for information*/
#containerInfo {
  background-color: rgba(255,255,255,0.7);
  margin-left: 1em;
  margin-top: 1em;
  padding: 1em;
  flex: 2 1 auto;
  width: 300%;
}

 @media screen and (max-width: 1250px) {
 #containerInfo, #containerMain {
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   margin-top: 1em;
   width: 100%;
   padding-left: 2px;
   padding-right: 2px;
 }
}

/*Titles for Container Info-boxes*/
.title {
  font-size: 60px;
  font-family: 'Great Vibes';
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: black;
}

.title2 {
  font-size: 50px;
  font-family: 'Great Vibes';
  text-align: center;
  padding-bottom: 10px;
  color: black;
}

.subTitle {
  font-size: 40px;
  font-family: 'Great Vibes';
  text-align: center;
  color: black;
  padding-top: 2px;
  letter-spacing: 2px;
}

.subTitle2 {
  font-size: 30px;
  font-family: 'Great Vibes';
  text-align: center;
  color: black;
  padding-top: 2px;
  letter-spacing: 2px;
}



/*Resizes the titles*/
@media screen and (max-width: 600px) {
  .title{
    font-size: 9.5vw;
  }}

@media screen and (max-width: 600px) {
  .title2{
    font-size: 8.5vw;
  }}

@media screen and (max-width: 600px) {
  .subTitle{
    font-size: 7.5vw;
  }}

/*All rows*/
.row {
  padding-top: 5px;
  padding-bottom: 20px;
  width: 100%;
}

.contactsRow {
  padding: 5px;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

/*All text*/
.text {
  text-align: center;
  text-decoration: none;
  text-indent: inherit;
  font-family: 'Poppins';
  color: black;
}

/*Label for RSVP*/
.label {
  font-size: 20px;
  text-align:left;
  color: black;
  box-sizing: border-box;
  white-space: pre-wrap;
  font-family: Times New Roman;
  color: black;
  width: 30%;
}

/*Input for RSVP*/
.input, .inputOther {
    font-size: 20px;
    font-family: Times New Roman;
    resize: vertical;
    border: 1px solid grey;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    box-sizing: border-box;
}

.input {
  height: 100%;
  width: 100%;
  /* float: right; */
}

/*When screen goes to mobile, textboxes are changed*/
@media screen and (max-width: 1260px) {
  input[type="text"]{
    margin-right: 5%;
  }
}

@media screen and (max-width: 600px) {
  input[type="text"]{
    font-size: 15px;
    height: 20px;
  }
}

@media screen and (max-width: 600px) {
  input[type="textarea"]{
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .input{
    width: 100%;
  }
}

.inputOther {
  height: 7em;
  width: 95%;
  margin-top: 2%;
  resize: none;
}

/*Button for RSVP*/
.button {
  width: 340%;
  background-color: white;
  height: 30px;
  font-size: 20px;
  font-family: Times New Roman;
  resize: vertical;
  border: 1px solid grey;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  box-sizing: border-box;
}

/*Animation for hovering the submit-button*/
.button:hover {
  background-color: white;
}

/*If error in inputboxes*/
.err {
  border-color: red;
  border-style: dashed;
  font-size: 20px;
  font-family: Times New Roman;
  width: 70%;
  float: right;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  box-sizing: border-box;
}

.image{
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 600px) {
  iframe, .image{
    float: none;
    position: center;
  }
}

.w3-button, .w3-black, .w3-display-left {
  width: 5%;
  resize: none;
}

/*Map over hotels with resizing*/
iframe {
  border: 1px solid grey;
  margin-bottom: 10px;
  width: 100%;
  height: 300px;
  float: left;
  position: inherit;

}

@media screen and (max-width: 1200px) {
  iframe{
    width: 99%;
    height: 400px;
  }
}

/*The order now-links*/
.hotelLink {
  text-decoration: underline;
}

.hotelLink:hover {
  font-style: italic;
}

/*image carousel*/
.carousel {
  position:relative;
  width:600px;
  border:10px solid white;
  margin:20px auto;
  box-shadow:0px 0px 40px #000;
}

.carousel > img {
  display:none;
  width:100%;
}
.carousel > input {
  position:absolute;
  left:-9999px;
}
.carousel > input:checked + label + img {
  display:block;
}

.carousel > label,
.carousel > input:checked ~ label ~ label ~ label ~ label {
  display:none;
}
.carousel > input:checked + label {
  display:block;
  left:0;
}
.carousel > input:checked ~ label ~ label ~ label {
  display:block;
  right:0;
}

.carousel > label {
  position:absolute;
  top:0;
  width:25%;
  height:100%;
  visibility:hidden;
}
.carousel > label:before {
  content:'';
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  visibility:visible;
}
.carousel > label:after {
  display:block;
  position:absolute;
  top:50%;
  width:25px;
  height:25px;
  line-height:22px;
  margin:-15px 10px 0 10px;
  background-color:black;
  color:white;
  font-family:'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:center;
  visibility:hidden;
  border:2px solid white;
  border-radius:20px;
  box-shadow:0 3px 4px black;
}
.carousel > label:hover:after {
  visibility:visible;
}

.carousel > input:checked + label:after {
  left:0;
  content:'\00AB';
}
.carousel > input:checked ~ label ~ label ~ label:after {
  right:0;
  content:'\00BB';
}

/*images for contacts*/
.contactImage{
  margin-left: 18%;
  margin-top: 2px;
}

@media screen and (max-width: 1250px) {
  .contactImage{
    margin-left: 30%;
  }
}

@media screen and (max-width: 850px) {
  .contactImage{
    margin-left: 25%;
  }
}

@media screen and (max-width: 600px) {
  .contactImage{
    margin-left: 0;
  }
}

/*Image swing*/
.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
.swing:after{
  content: '';
  position: absolute;
  width: 20px; height: 20px;
  border: 1px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.swing:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

.error {
  color: #FF0000;
}

.footer {
  margin-top: 2em;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
}
