body{
  background-image: url(bilder/forsidebilde02.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 10%;
  margin-right: 10%;
  }

/*Fixes image to mobile*/
@media only screen and (max-width: 487px) {
  body {
  background-image: url(bilder/forsidebilde02.jpg);
  background-position-x: -46em;
  margin-left: 0;
  margin-right: 0;
 }
}

/* Add a black background color to the top navigation */
.topnav {
    /*background-color: rgba(128, 0, 0, 0.5);*/
    background-color: rgba(255,255,255,0.5);
    overflow: hidden;
    margin:auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family: "Dancing Script";
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 870 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1060px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1060px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Center tag which puts menu in center*/
#center {
  margin-left:  2em;
  margin-right:  2em;
  letter-spacing: 2px;
}


/*Title - only for the front page*/
#title{
  font-size: 70px;
  font-family: 'Lovers Quarrel';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  color: black;
}

#heading1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Great Vibes';
  letter-spacing: 2px;
  padding: 5px;
  color: black;
}

/*Containerbox for information*/
.container-fluid {
  background-color: rgba(255, 255, 255, 0.5);
  /*background-image: url(bilder/flower_border03.jpg);*/
  margin-top: 2em;
  margin-bottom: 2em;
  float: left;
  padding: 1em;
  background-size: auto;
  border-radius: 25px;
  /*border-image: url(bilder/frontpagewoodflower.jpg);*/
}

/*Label for RSVP*/
.label {
  font-size: 20px;
  text-align:left;
  color: black;
  box-sizing: border-box;
  white-space: pre-wrap;
  font-size: 20px;
  font-family: Times New Roman;
}

/*Input for RSVP*/
.input, .inputOther {
    font-size: 20px;
    font-family: Times New Roman;
    resize: vertical;
    border: 1px solid grey;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    box-sizing: border-box;
}

 .input {
  height: 100%;
  width: 70%;
  float: right;
}

.rsvpRow {
  padding: 5px;
}

/*When screen goes to mobile, textboxes are changed*/
@media screen and (max-width: 600px) {
  input[type="text"]{
    font-size: 15px;
    height: 20px;
  }
}

@media screen and (max-width: 600px) {
  input[type="textarea"]{
    font-size: 15px;
  }
}


@media screen and (max-width: 600px) {
  .input{
    width: 50%;
  }
}

.inputOther {
  height: 7em;
  width: 100%;
  margin-top: 2%;
  resize: none;
}

/*Button for RSVP*/
button {
  width: 100%;
  background-color: white;
  height: 30px;
  font-size: 20px;
  font-family: Times New Roman;
  resize: vertical;
  border: 1px solid grey;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  box-sizing: border-box;
}

 .button:hover {
  background-color: azure;
}

/*If error in inputboxes*/
.err {
  border-color: red;
  border-style: dashed;
  font-size: 20px;
  font-family: Times New Roman;
  width: 70%;
  float: right;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  box-sizing: border-box;
}

/*Title 2 for other pages than front page*/
.title2{
  font-size: 60px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 10px;
  color: black;
}



/*Containerbox for information*/
.container-weddingday, .container-rsvp{
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  background-size: auto;
  border-radius: 25px;
  margin-left: 50%;
}

@media screen and (max-width: 1200px) {
  .container-weddingday, .container-rsvp{
    float:left;
    margin-left: 0;
    margin-top: auto;
  }
}

.weddingdayRow {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .weddingdayRow{
    width: 100%;
  }
}

.weddingdayTitle {
  font-size: 60px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 10px;
  color: black;
}

/*Resizes the title*/
@media screen and (max-width: 600px) {
  .weddingdayTitle{
    font-size: 9.5vw;
  }
}

/*Map on Weddingday page*/
#map {
  height: auto;
  width: 50%;
  border: 1px solid grey;
  float: left;
  margin-bottom: 10px;
  position: inherit;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 4px;

}

.churchImage{
  height: 50%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 4px;

}

@media screen and (max-width: 600px) {
  #map, .churchImage{
    float: none;
    position: center;
  }
}

.weddingdayText {
  text-align: center;
  text-decoration: none;
  text-indent: inherit;
}
