/*Fixes background*/
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(bilder/backgrounds/weddingcouple_bridge.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.imagesbody {
  padding:0px;
  margin:0px;
  background-color:#fff;
  font-family:arial,helvetica,sans-serif,verdana,'Open Sans';
}

/*To center eeeeverything*/
#wrapping{
  margin-left: 15%;
  margin-right: 15%;
}

/*Add a background color to the top navigation*/
.topnav {
  background-color: rgba(255,255,255,0.8);
  margin: auto;
  color: black;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*Style the links inside the navigation bar*/
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 22px;
  font-family: "Dancing Script";
  transition: text-decoration .2s linear;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255,255,255);
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgb(255,255,255);
  font-style: italic;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/*Container for containers after menu*/
#containerAll {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*Title for ContainerMain*/
#mainTitle{
  font-size: 9vmin;
  font-family: 'Lovers Quarrel';
  text-align: center;
  color: black;
  letter-spacing: 4px;
  }

.sub-mainTitle {
  font-size: 6vmin;
  text-align: center;
  font-family: 'Great Vibes';
  padding: 5px;
  color: black;
}

/*Containerbox for main*/
#containerMain {
  background-color: rgba(255,255,255, 0.7);
  background-size: auto;
  flex: 1 1 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 1em;
  height: 100%;
  width: 40%;
}

/*Container for front page main*/
#containerMain-fp{
  background-color: rgba(255,255,255, 0.7);
  background-size: auto;
  flex: 1 1 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  height: 100%;
  width: 60%;
  float: right;
}

/*Wedding ring image*/
#ringImage {
  position: initial;
  width: 15vmin;
}

/*RingImage on images page*/
#ringImage_images {
  width: 15vmin;
  position: absolute;
}

/*Containers for images page*/
#containerAll_images{
  float: right;
  width: 100%;
}

#containerMain_images {
  background-color: rgba(255,255,255, 0.7);
  margin-top: 1em;
  width: 100%;
}

#containerInfo_images {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top:1em;
  padding-bottom: 1em;
  background: rgba(255,255,255,0.7);
}

/*Containerbox for information*/
#containerInfo {
  background-color: rgba(255,255,255,0.7);
  flex: 2 1 auto;
  width: 50%;
  padding-bottom: 1em;
}

/*Titles for Container Info-boxes*/
.title {
  font-size: 9vmin;
  font-family: 'Great Vibes';
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: black;
  margin-top: 10px;
}

.title2 {
  font-size: 8vmin;
  font-family: 'Great Vibes';
  text-align: center;
  padding-top: 10px;
  color: black;
}

.subTitle {
  font-size: 7.5vmin;
  font-family: 'Great Vibes';
  text-align: center;
  color: black;
  padding-top: 2px;
  letter-spacing: 2px;
}

.subTitle2 {
  font-size: 30px;
  font-family: 'Great Vibes';
  text-align: center;
  color: black;
  padding-top: 2px;
  letter-spacing: 2px;
}

/*Rows*/
.row {
  padding-top: 5px;
  width: 100%;
}

.contactsRow {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rsvpRow {
  padding-top: 5px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#rsvp {
  padding-left: 1em;
  padding-right: 1em;
}

/*All text*/
.text {
  text-align: center;
  text-decoration: none;
  text-indent: inherit;
  font-family: 'Poppins';
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
}

/*Label for RSVP*/
.label {
  font-size: 20px;
  text-align:left;
  color: black;
  box-sizing: border-box;
  white-space: pre-wrap;
  font-family: Times New Roman;
  color: black;
  width: 30%;
  margin-right: 5%;
}

/*Input for RSVP*/
.input, .inputOther {
    font-size: 20px;
    font-family: Times New Roman;
    resize: vertical;
    border: 1px solid grey;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    box-sizing: border-box;
}

.input {
  height: 100%;
  width: 100%;
}

.inputOther {
  height: 7em;
  width: 100%;
  resize: none;
}

/*Button for RSVP*/
.button {
  width: 100%;
  background-color: white;
  height: 30px;
  font-size: 20px;
  font-family: Times New Roman;
  resize: vertical;
  border: 1px solid grey;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  box-sizing: border-box;
}

/*Animation for hovering the submit-button*/
.button:hover {
  background-color: azure;
}

/*If error in inputboxes*/
.err {
  border-color: red;
  border-style: dashed;
  font-size: 20px;
  font-family: Times New Roman;
  width: 70%;
  float: right;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  box-sizing: border-box;
}

.image{
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.w3-button, .w3-black, .w3-display-left {
  width: 5%;
  resize: none;
}

/*Map over hotels with resizing*/
iframe {
  border: 1px solid grey;
  margin-bottom: 10px;
  width: 90%;
  height: 300px;
  position: inherit;
  margin-left: 5%;

}

/*The order now-links*/
.hotelLink {
  text-decoration: underline;
}

.hotelLink:hover {
  font-style: italic;
}

/*image carousel*/
.carousel {
  position:relative;
  border:5px solid white;
  box-shadow:0px 0px 40px #000;
  background-color: rgba(255,255,255, 0.7);
  height: 100%;
}

.carousel > img {
  display: none;
  width: 50%;
  margin-left: 25%;
  position:relative;
}

.carousel > input {
  position:absolute;
  left:-9999px;
}
.carousel > input:checked + label + img {
  display:block;
}

.carousel > label,
.carousel > input:checked ~ label ~ label ~ label ~ label {
  display:none;
}
.carousel > input:checked + label {
  display:block;
  left:0;
}
.carousel > input:checked ~ label ~ label ~ label {
  display:block;
  right:0;
}

.carousel > label {
  position:absolute;
  top:0;
  width:25%;
  height:100%;
  visibility:visible;
  opacity: 0.5;

}
.carousel > label:before {
  content:'';
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  visibility:visible;
}

.carousel > label:after {
  display:block;
  position:absolute;
  top:50%;
  width:25px;
  height:25px;
  line-height:22px;
  margin:-15px 10px 0 10px;
  background-color:black;
  color:white;
  font-family:'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:center;
  visibility:visible;
  border:2px solid white;
  border-radius:20px;
  box-shadow:0 3px 4px black;
}

.carousel > label:hover {
 opacity: 1;
}

.carousel > input:checked + label:after {
  left:0;
  content:'\00AB';
}
.carousel > input:checked ~ label ~ label ~ label:after {
  right:0;
  content:'\00BB';
}

/*images for contacts*/
.contactImage{
  margin-left: 18%;
  margin-top: 2px;
}

/*Image swing*/
.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
.swing:after{
  content: '';
  position: absolute;
  width: 20px; height: 20px;
  border: 1px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.swing:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

.error {
  color: #FF0000;
}

.footer {
  margin-top: 2em;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
}

/*Fixes everything to mobile*/
/*487px*/
@media only screen and (max-width: 487px) {
  #wrapping {
    margin-left: 5%;
    margin-right: 5%;
 }
  #ringImage{
    position: absolute;
  }
}

/*600px*/
@media screen and (max-width: 600px) {
  iframe, .image{
    float: none;
    position: center;
  }
  iframe{
    height: 200px;
  }
  .carousel > img {
    width: 100%;
    margin-left: 0;
  }
  .contactImage{
    margin-left: 5%;
  }
  #attendanceAnswers {
    margin-top: 5%;
    margin-left: 10%;
  }
}

/*650px*/
@media screen and (max-width: 650px) {
  .input, .inputOther{
    width: 50%;
    font-size: 15px;
  }
  .label, .button {
    font-size: 2.5vmax;
  }
}

/*767px*/
@media only screen and (max-width: 767px) {
  body:before {
    background-position-x: -40px;
  }
}

/*800px*/
@media screen and (max-width: 800px) {
  #ringImage_images {
    position: initial;
  }
}

/*850px*/
@media screen and (max-width: 850px) {
  #ringImage {
    position: initial;
  }
  .contactImage{
    margin-left: 14%;
  }
}

/*1200px*/
@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    flex-direction: none;
    flex-wrap: none;
    justify-content: none;
  }
  .topnav.responsive {
    position: relative;
    flex-direction: column;
  }
  .topnav.responsive a.icon {
    right: 0;
    top: 0;
  }
  .topnav {
    margin-left: auto;
    justify-content: flex-end;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  #containerAll {
    flex-direction: column;
  }
  #ringImage {
    position: absolute;
  }
  #containerInfo {
    margin-top: 1em;
    width: 100%;
  }
  #containerMain {
    width: 100%;
  }
  iframe{
    height: 400px;
  }
}

/*1250px*/
@media screen and (max-width: 1250px) {
  .contactImage{
    margin-left: 30%;
  }
}

/*1260px*/
@media screen and (max-width: 1260px) {
 #containerMain-fp {
   width: 100%;
   float: none;
 }
 .button{
   margin-left: 5%;
   margin-right: 5%;
 }
 .inputOther {
   margin-right: 5%;
   height: 5em;
 }
 .input{
   margin-right: 2%;
   margin-left: 1%;
 }
 .label {
   margin-left: 5%;
   margin-right: 5%;
 }
 #WrongEmail, #WrongFname, #WrongLname{
   margin-right: 2%;
 }
}
