
/*Title for ContainerMain*/
#mainTitle{
  font-size: 60px;
  font-family: 'Lovers Quarrel';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  color: black;
}

.sub-mainTitle {
  font-size: 40px;
  text-align: center;
  font-family: 'Great Vibes';
  letter-spacing: 2px;
  padding: 5px;
  color: black;
}

/*Titles for Container Info-boxes*/
.title {
  font-size: 60px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 10px;
  color: black;
}

.title2 {
  font-size: 50px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 10px;
  color: black;
}

.subTitle {
  font-size: 30px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  color: black;
  padding-top: 2px;
}

.subTitle {
  font-size: 30px;
  font-family: 'Dancing Script';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  color: black;
  padding-top: 2px;
}

/*All text*/
.text {
  text-align: center;
  text-decoration: none;
  text-indent: inherit;
  font-family: 'Poppins';
  color: black;
}

button {
    height: 30px;
    width: 200px;
    font-size: 20px;
}

.indexinput {
  width: 200px;
  font-size: 16px;
}
